#header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #2f575d;
  box-shadow: 0 5px 15px gray;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
img {
  width: 50%;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#nav li a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(8, 12, 12);
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
#nav li a:hover,
#nav li a:active {
  color: aquamarine;
}
#nav li a:active::after,
#nav li a:hover::after {
  content: "";
  width: 20px;
  height: 2px;
  background: aquamarine;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#page {
  background-image: url("img/front2.jpg");
  background-repeat: no-repeat;
  height: 80vh;
  background-size: cover;
  padding: 0 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
border {
  padding: 5px 10px;
  border-style: dashed;
}
h3 {
  color: burlywood;
  font-size: 30px;
  font-style: italic;
}
h1 {
  text-align: center;
}
p {
  font-size: larger;
  text-align: justify;
  color: whitesmoke;
}

.section-p1 {
  padding: 40px 80px;
}
#feature {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ss {
  width: 150px;
  height: 150px;
}
.fe-box {
  width: 200px;
  text-align: center;
  padding: 5px 20px;
  box-shadow: 20px 20px 10px gray;
  border: 1px solid #cce7d0;
  border-radius: 8px;
}
.fe-box:hover {
  box-shadow: 20px 20px 20px gray;
}
.fe-box h4 {
  font-size: 20px;
  padding: 10px 10px;
  line-height: 1;
  border-radius: 4px;
  background-color: bisque;
}
.fe-box:nth-child(2) h4 {
  background-color: aquamarine;
}
.fe-box:nth-child(3) h4 {
  background-color: rgb(25, 173, 173);
}
.fe-box:nth-child(4) h4 {
  background-color: silver;
}
.fe-box:nth-child(5) h4 {
  background-color: floralwhite;
}
.ps {
  width: 250px;
  height: 250px;
}
#product {
  top: 20%;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.product-item {
  width: 25%;
  text-align: center;
  padding: 25px 25px;
  box-shadow: 25px 25px 30px rgb(43, 34, 34);
  border-radius: 5px;
}
.product-item:hover {
  box-shadow: 15px 20px 50px rgb(43, 34, 34);
}
h4.product {
  font-size: 20px;
  font-style: italic;
  border: 2px solid gray;
  border-radius: 20px;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 10px
    ),
    repeating-linear-gradient(#444cf755, bisque);
}
.txt h4{
  font-size: 20px;
  padding: 15px 20px;
  line-height: 0;
  border-radius: 6px;
  background-color: bisque;
}
.txt:nth-child(2) h4 {
  background-color: aquamarine;
}
.txt:nth-child(3) h4 {
  background-color: rgb(25, 173, 173);
}
.txt:nth-child(4) h4 {
  background-color: silver;
}
.txt:nth-child(5) h4 {
  background-color: floralwhite;
}

/* For respnsive */
/* @media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
  #page {
    background-image: url("img/front2.jpg");
    background-repeat: no-repeat;
    height: 80vh;
    width: 50%;
    background-size: cover;
    padding: 0 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
} */
